
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

/* VARIABLES */

:root{
    --color-prime : #dad4a3;
    --color-second : #5a4100;
    --font-fam : 'Catamaran', sans-serif;
}

/* RESET */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* CSS */

body {
    background-color: var(--color-prime);
    color: var(--color-second);
    font-family: var(--font-fam);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.sections {
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-self: start;
}

.section {
    display: flex;
    flex-direction: column;
}
article {
    margin: 5px 25px;
    padding: 10px 20px;
}
.section__photo{
    border-radius: 50%;
    align-self: center;
}

.section--centre>p{
    width: 100%;
    text-align: center;
}

.section__citation {
    background-color: var(--color-second);
    color: var(--color-prime);
    font-size: 0.8em;
    text-align: center;
}

q {
    font-style: italic;
}

.section__citation>p{
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

.section__anecdote {
    text-align: center;
    border: solid 3px var(--color-second);
}

.informations>article {
    border: solid ;
    border-width: 0 18px 7px;
    border-image: url(Images/barre.svg) 0 18 7;
}

h3 {
    font-size: 1.4em;
    font-style: italic;
}

h4 {padding: 15px;
}

.informations ul {
    padding: 5px 10px 5px 35px;
    list-style: url(Images/puce.svg);
}

.informations p::first-letter,
.informations li::first-letter {
    padding-left: 10px;
}

.informations p{
    padding: 5px 10px 5px 35px;
}

.informations li {
    padding-bottom: 8px;
}

@media ( min-width : 550px ) {
    .sections {
        flex-direction: row ;
    }
    .identite {
        max-width: 300px;
    }
}


